# Fundamental Types

## 1. Number

### 1. Integer

In [5]:
i=10
#find type of i
print(type(i)) 
#Conver Integer to float
b=float(i)
print(b,type(b))
#Conver Integer to complex
c=complex(i)
print(c,type(c))

<class 'int'>
10.0 <class 'float'>
(10+0j) <class 'complex'>

### 2. Float

In [6]:
a=10.0
print(a,type(a))

10.0 <class 'float'>

### 3. Complex

In [9]:
a=10+1j 
print(a,type(a))
# print imaginary and real part of a 
print(a.imag)
print(a.real)

(10+1j) <class 'complex'>
1.0
10.0

### 4. Boolean

In [14]:
i=True
print(type(i))
#add two boolean
a=True+True
print(a)
# Boolean evaluation
print(True and True)
print(True & True)
print(True and False)
print(True & False)
print(10 and 10)
print(10 & 10)

<class 'bool'>
2
True
True
False
False
10
10
True

## 2. STRING

In [167]:
a='Dinesh'
print(a)

Dinesh

In [168]:
#1. Concatenation
print(str(1)+'dinesh')
a='dinesh'
a+'bafila'
print(a)#immutable(unchangeble)
a=a+'bafila'#dereferencing
print(a)

1dinesh
dinesh
dineshbafila

In [169]:
#2 Multiplication
a='dinesh'
print(a*2)

dineshdinesh

In [170]:
#3 Indexing
a="Hello World"
print(a[1])
#a[2]='jh'#error does not support assignment
#slicing
print(a[::])
print(a[:-1])
print(a[-1])

e
Hello World
Hello Worl
d

In [171]:
#4 split()
print(a.split(' ')) # split the string by blank space (return list)
print(a.split('o')) #split the string by character o
d='helol'
print(d.split('l'))

['Hello', 'World']
['Hell', ' W', 'rld']
['he', 'o', '']

In [172]:
#5 partition()
a='hello hey'
print(a.split('e')) #return list and doen not include the partitioned word
print(a.partition('e')) # return tuple and partition the string by the character when its encounter first

['h', 'llo h', 'y']
('h', 'e', 'llo hey')

In [173]:
#6 Print formatting
a=input("Enter Your Name:")
b=int(input("Enter Your age:"))
print('{}, how are you and what is your age?'.format(a))
print('my age is {}'.format(b))
#Note if you Provide more no. of arguements and less number of curly braces than it is acceptable but versa is not
print('Hello {}, How are you?'.format(10,20)) # right
#print('Hello {}, How are you?'.format(10,20)) # error

Enter Your Name:Dinesh
Enter Your age:24
Dinesh, how are you and what is your age?
my age is 24
Hello 10, How are you?

In [176]:
#7 Location and Counting
#1 count()
s='Dinesh Bafila'
print(s.count('a'))
#iterate through string
print(type(s[1]))
for i in range(len(s)):
    print(s[i])

2
<class 'str'>
D
i
n
e
s
h

B
a
f
i
l
a

In [177]:
#Program to iterate through a string
for i in range(len(s)):
    print(s[i])
sum=0
#Program to count the no. of character present in the string including space 
for i in range(len(s)):
    if(type(s[i])==str):
        sum=sum+1
print(sum)
#Program to count the no. of character present in the string excluding space
sum=0
for i in range(len(s)):
    if(s[i]==' '):
        continue
    elif(type(s[i])==str):
        sum=sum+1
print(sum)

D
i
n
e
s
h

B
a
f
i
l
a
13
12

In [178]:
#7 -->2 find()
print(s.find('a'))
#3 center
print(s.center(16,'j'))
#4 expandtabs()
print("hello\tji".expandtabs())

8
jDinesh Bafilajj
hello   ji

In [179]:
#8 is check method
#1 isalnum()
a='Dinesh'
print(a.isalnum())
a='Dinesh5'
print(a.isalnum())
#2 isalpha()
print(a.isalpha())
#3 islower()
print(a.islower())
print(a.isupper())
#4 endswith()
print(a.endswith('5'))
print(a.upper())

True
True
False
False
False
True
DINESH5

## 3. LIST(MUTABLE)

In [180]:
#Creating empty list
k=[]
print(type(k))
m=list()
print(type(m))

<class 'list'>
<class 'list'>

In [182]:
a=['Dinesh','Bafila',57,6+10j]
print(a)
print(a[0])

['Dinesh', 'Bafila', 57, (6+10j)]
Dinesh

In [183]:
#1 slicing operator
print(a[::])
print(a[-1])
print(a[::2])
#Inverse the string
print(a[::-1])
print(a)

['Dinesh', 'Bafila', 57, (6+10j)]
(6+10j)
['Dinesh', 57]
[(6+10j), 57, 'Bafila', 'Dinesh']
['Dinesh', 'Bafila', 57, (6+10j)]

In [184]:
#print all the string present in the list
for i in a:
    if(type(i)==str):
        print(i)
#create other list of string from existing list
k=[]
for i in a:
    if(type(i)==str):
        k.append(i)
print(k,type(k))

Dinesh
Bafila
['Dinesh', 'Bafila'] <class 'list'>

In [185]:
#difference between list() and []
l=list('Dinesh')
print(l) # it scatter the entire list into characters
print(l[0])
#l1=list("dinesh","Bafila")# error:list expected at most 1 arguments, got 2
l2=['Dinesh']
print(l2)
l3=['Dinesh','Bafila']
print(l3)

['D', 'i', 'n', 'e', 's', 'h']
D
['Dinesh']
['Dinesh', 'Bafila']

In [186]:
#List Methods
#1 append(): appemd element at tail of list, it also shows the concept of mutability
l=['dinesh']
print(l)
l.append('Bafila')
print(l)#now it has two elements
#l[2]='Dinesh' #error :list assignment index out of range
l[1]='JI' #Replace index no.1 element with string 'ji'
print(l)
#append list
l1=['bafila','HI']
l.append(l1)#it does not unwrap the list it direclty add the list
print(l)
#to access nested list element
#step 1:
print(l[2])
#step 2
print(l[2][0]) #nested access (finish)
print(l[2])

['dinesh']
['dinesh', 'Bafila']
['dinesh', 'JI']
['dinesh', 'JI', ['bafila', 'HI']]
['bafila', 'HI']
bafila
['bafila', 'HI']

In [187]:
#2 insert(): insert elemnt at particular or specified index
l1=['dinesh','53333']
l1.insert(1,'Bafila')# it will not replace index no.1 elemnt but shift that elemnt
print(l1)
l1.insert(3,'M.Tech.')
print(l1)
#insert a list inside a list
l2=['Computer','Science']
l1.insert(-1,l2) #Incase of +ve index insert method insert the data at exact index but incase of negative index it insert the data befor the index
print(l1)
#want to access science
print(l1[3][1])
#want  to scatter string science into character
a=list(l1[3][1])
print(a)
#Now reverse 'science' present in list l1
print(l1[3][1][::-1])
#reverse bafila
print(l1[1][::-1])
#Imp
l3=['dinesh']
print(l3[3:0])#conflict
print([l3[1:3:-1]])#conflict

['dinesh', 'Bafila', '53333']
['dinesh', 'Bafila', '53333', 'M.Tech.']
['dinesh', 'Bafila', '53333', ['Computer', 'Science'], 'M.Tech.']
Science
['S', 'c', 'i', 'e', 'n', 'c', 'e']
ecneicS
alifaB
[]
[[]]

In [188]:
#3 concat
a=['dinesh','bafila']
b=['CSE','Engg']
print(a+b)#it unwrap and then add list, this actually doesnt change the original list, solution: reassign or dereferencing
print(a)

['dinesh', 'bafila', 'CSE', 'Engg']
['dinesh', 'bafila']

In [189]:
#4 extend(), #it unwrap list and then add permanently
l1=['dinesh',1,2,3]
l2=['bafila',5,2,3]
l1.extend(l2)
print(l1)
l3=['hello']
l3.extend(['dineshji'])
print(l3)
l1=['dinesh',1,2,3]
l2=['bafila',5,2,3,['ji','hi']]
l1.extend(l2)# but not unwrap list inside list
print(l1)

['dinesh', 1, 2, 3, 'bafila', 5, 2, 3]
['hello', 'dineshji']
['dinesh', 1, 2, 3, 'bafila', 5, 2, 3, ['ji', 'hi']]

In [190]:
#5 pop(index number): delete the element from list, by default delete the elemnt of last index
l1=['dinesh','bafila',1,2]
l1.pop()
l1.pop(0)
print(l1)

['bafila', 1]

In [191]:
#5 remove():remove a particular elemnt permanently
l1=[1,2,3,4]
l1.remove(3)
print(l1)

[1, 2, 4]

In [192]:
#6 iter() whether the object is iterable or not
#iter(6) #error: 'int' object is not iterable
iter('dinesh')

In [193]:
#some imp concept
l=['dinesh','bafila']
#now print d
print(l[0][0])
s='dinesh'
#print(s[8])# error: index out of range
print(s[0:8])#no error

d
dinesh

In [194]:
#7 Reversing a list using slicing and reverse() method
#1. using slicing
a=['dinesh','Bafila']
print(a[::-1])
#but this will not permanently reverse the list, see
a[::-1]
print(a)
#2 reverse() method: This will permanently reverse the list
a.reverse()
print(a)#This has permanently reverse the list
#revrese bafila
print(a[0][::-1])
#a[0].reverse() #error: gives an error because it access the string and string does not have any reverse method()
#print(a)

['Bafila', 'dinesh']
['dinesh', 'Bafila']
['Bafila', 'dinesh']
alifaB

In [195]:
#Some Program related to reverse
#1.Reverse only string elemnts given in a list
n=int(input("enter the length of the list"))
b=[]
print("Enter the list elements")
for i in range(n):
      b.append(input())
print("Your List elemnts are:")
for i in range(n):
      print(b[i])
print("list after reversing the string elements in the list:")
for i in range(n):
      if(type(b[i])==str):
            print(b[i][::-1])

enter the length of the list4
Enter the list elements
1
dinesh
bafila
3
Your List elemnts are:
1
dinesh
bafila
3
list after reversing the string elements in the list:
1
hsenid
alifab
3

In [199]:
#2 reverse the string element present inside a nested list
l1=[1,2,3,['dinesh','bafila']]
a=[]
for i in l1:
    if(type(i)==list):
        for j in i[::-1]:
            a.append(j[::-1])
print(a)

['alifab', 'hsenid']

In [200]:
#for-else loop: else will only execute when for loop completely execute its iteratiin
for i in range(5):
    print(i)
else:
    print('No item left')

0
1
2
3
4
No item left

In [203]:
#8 sort() by default sort list in ascending if you want to sort elemnt in descending then sort(reverse=True)
l=[1,5,7,8,2,3,4]
l.sort()
print(l)
#l1=[1,2,3,'dinesh']#give error only numeric or string
l1=[4,3,5,6,7,2,3]
l1.sort()#ascending
print(l1)
l1.sort(reverse=True)#descending
print(l1)
#sort alphabet
l2=['dinesh']
l3=list(l2[0])
print(l3)
l3.sort()
print(l3)

[1, 2, 3, 4, 5, 7, 8]
[2, 3, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 3, 2]
['d', 'i', 'n', 'e', 's', 'h']
['d', 'e', 'h', 'i', 'n', 's']

In [204]:
#range: range(start(inclusive),stop(exclusive),step)
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [205]:
#9 len()
a='dinesh'
b=[1,2,3,4,'dinesh']
print(len(a))
print(len(b))

6
5

In [206]:
#10 Nested list
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
matrix=[l1,l2,l3]
print(matrix)
#access 8
print(matrix[2][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
8

In [207]:
#11 List Comprehension
#task: want to access or create a list of all the element present in the between of l1 i.e. [2,5,8]
#Method 1: using for loop
print(len(matrix))
matrix=[l1,l2,l3]
l4=[]
for i in range(len(matrix)):
    l4.append(matrix[i][1])
print(l4)

3
[2, 5, 8]

In [208]:
#method 2 using list comprehension
a=[row[1] for row in matrix]
print(a)

[2, 5, 8]

In [209]:
 #12 index(): return the index of a number
l1=[1,2,3,4]
print(l1.index(3))

2

## 4. TUPLE (IMMUTABLE)

In [214]:
#1 Constructing a Tuple
t=()
print(type(t))
t=(1,2,3,4,'Python','Java')
print(t)
print(t[0])
print(t[0:5])
#t[1]=1 error item assignmemnt is not possible here

<class 'tuple'>
(1, 2, 3, 4, 'Python', 'Java')
1
(1, 2, 3, 4, 'Python')

In [217]:
#1 List inside tuple
t=(1,2,3,4,[1,2,3,4])
print(t)
#Tuple inside tuple
t1=(1,2,3,[4,6,7],(1,2,10,4))
print(t1)

(1, 2, 3, 4, [1, 2, 3, 4])
(1, 2, 3, [4, 6, 7], (1, 2, 10, 4))

In [222]:
#changing a tuple into list
t2=(1,2,3,4,2,5,6,[2,3])
t3=list(t2)#After changing a tuple into list now we can change there values 
print(t3)
t3[2]=1
print(t3)

[1, 2, 3, 4, 2, 5, 6, [2, 3]]
[1, 2, 1, 4, 2, 5, 6, [2, 3]]

In [227]:
#Iterate over tuple
t=(1,2,2,3,4)
for i in t:
    print(i)
#index() Return the index of that particular element
print(t.index(2))
#count()
print(t.count(2))

1
2
2
3
4
1
2

In [229]:
#If a list present inside a tuple then we can change its element
t1=(2,3,4,5,[66,6,7,8,67])
print(t1)
t1[4][0]=67
print(t1)

(2, 3, 4, 5, [66, 6, 7, 8, 67])
(2, 3, 4, 5, [67, 6, 7, 8, 67])

In [233]:
t2=(0,1,2,3,4,5,4,5,7,4,True,False)
for i in t2:
    print(t2.index(i))

0
1
2
3
4
5
4
5
8
4
1
0

## 4. SETS

In [234]:
x=set()
print(type(x))

<class 'set'>

In [240]:
#set(1,2,3,4) error:set expected at most 1 arguments, got 4
print(set('dinesh'))
#set(1) error: Int is not iterable
#list(1) error: Int is not iterable
print(set([1,2,3,4,5,'dinesh']))

{'d', 'n', 'e', 's', 'i', 'h'}
{1, 2, 3, 4, 5, 'dinesh'}

In [244]:
#Set remove all the duplicate emenets by itself
s={1,2,3,2,3,4,4,5,6,7,8}
print(s)
#program to remove duplicate elemnets from a list
l=[1,2,3,4,2,3,4,5,6,7]
t=set(l)
l1=list(t)
print(l1)

{1, 2, 3, 4, 5, 6, 7, 8}
[1, 2, 3, 4, 5, 6, 7]

In [245]:
#set is unoresers collection of elements meaning
set(['fsfs',1,2,3,45,23,56,'di'])

{1, 2, 23, 3, 45, 56, 'di', 'fsfs'}

In [248]:
#set dooesnt support indexing and slicing so its better to convert set into list and then perform whatever task you want to perform
s={1,2,3,4}
#print(s[0]) error set object is not subsciptable

In [250]:
#add()
s={1,2,3,4}
s.add(6)
print(s)
#iterate through set
for i in s:
    print(i)

{1, 2, 3, 4, 6}
1
2
3
4
6

In [253]:
#1. union
s1={1,2,3,4}
s2={3,4,5,6}
s3=s1|s2
print(s3)

{1, 2, 3, 4, 5, 6}

In [254]:
#2. inersection
print(s1&s2)

{3, 4}

In [255]:
#3. diffrence
print(s1-s2)

{1, 2}

In [257]:
#4 Symmetric Diffrence
print(s1^s2)

{1, 2, 5, 6}

## 6. Dictionary

In [258]:
#List is nothing but hash table (Key value pair)
d={}
print(type(d))

<class 'dict'>

In [263]:
#String as key
d={'Name':'Dinesh'}
print(d)
d1={'Name':'Dinesh','Name':'Deepak'}
print(d1) # Override by the latest value
#Integer as key
d2={123:234,234:'Deepak'}
print(d2)
#Special character (#,@ etc are not allowed as key)

{'Name': 'Dinesh'}
{'Name': 'Deepak'}
{123: 234, 234: 'Deepak'}

In [265]:
#Whether collections are allowed as key or not (Unhashable Type error)
#d={[1,2,3]:'Dinesh'}
#print(d)
#Whether collections like list, tuple are allowed as value or not 
d={'Name':['dinesh','deepak'],'ID':{1,2,3}}
print(d)

{'Name': ['dinesh', 'deepak'], 'ID': {1, 2, 3}}

In [269]:
#Dictionarty inside a key
d1={'Name':'Dinesh','ID':54101,'Address':{'City':'Delhi','Code':54101}}
print(d1)
print(d1['Address'])
#Accessing value insdie nested dictionary
print(d1['Address']['City'])

{'Name': 'Dinesh', 'ID': 54101, 'Address': {'City': 'Delhi', 'Code': 54101}}
{'City': 'Delhi', 'Code': 54101}
Delhi

In [270]:
#list inside dictionary
d2={'Name':'Dinesh','ID':[54101,54126]}
print(d2['ID'][0])

54101

In [273]:
#to add new value in dictionary
d2['Place']='Delhi'
print(d2)
#if key available it override the key

{'Name': 'Dinesh', 'ID': [54101, 54126], 'Place': 'Delhi'}

In [274]:
#Methods of dictionary
#1.keys()
print(d2.keys())

dict_keys(['Name', 'ID', 'Place'])

In [278]:
#iterate throug dictionary
for i in d2:
    print(i)
#To get values
a=d2.keys()
for i in a:
    print(d2[i])

Name
ID
Place
Dinesh
[54101, 54126]
Delhi

In [279]:
#2 items()
print(d2.items())

dict_items([('Name', 'Dinesh'), ('ID', [54101, 54126]), ('Place', 'Delhi')])

In [280]:
#3 values()
print(d2.values())

dict_values(['Dinesh', [54101, 54126], 'Delhi'])

In [281]:
#Dictionary compreheansion
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [285]:
#Nested Dictionary
d3={'key1':{'nestkey':{'subnestkey':'values'}}}
print(d3)
print(d3['key1'])
print(d3['key1']['nestkey'])
print(d3['key1']['nestkey']['subnestkey'])

{'key1': {'nestkey': {'subnestkey': 'values'}}}
{'nestkey': {'subnestkey': 'values'}}
{'subnestkey': 'values'}
values

In [287]:
#program to copy the value of one key into other
d={'key1':'Dinesh','key2':'Bafila'}
d['key3']=d['key1']
print(d)

{'key1': 'Dinesh', 'key2': 'Bafila', 'key3': 'Dinesh'}

In [296]:
#program to change the value of list inside dictionary
d3={'key1':[1,2,3,4],'key2':[1,2,3,4,5]}
d3['key2']=[i*10 for i in d3['key2']]
print(d3)

{'key1': [1, 2, 3, 4], 'key2': [10, 20, 30, 40, 50]}