## INTRODUCTION TO FUNCTIONS

In [1]:
#Define a simple function test()
def test():
    print('My First Function')
test() #Calling function

My First Function

In [2]:
#Return type of print statement is always be NonType
def test():
    print("Hello")
a=test()
print(a)
print(type(a))

Hello
None
<class 'NoneType'>

In [3]:
#Now what if we use return statement
def test(x):
    return x*3
a=test(5)
print(a)
print(type(a)) #Now the return type is integer

15
<class 'int'>

In [4]:
#Passing string as an arguement
def test(x):
    return x*2
a=test('Dinesh')
print(a)
print(type(a))

DineshDinesh
<class 'str'>

In [44]:
#If we return more than one value, then it returns it in tuple form
def test(y):
    return y*2,y+y
print(test("Dinesh"))
print(type(test('Dinesh')))

('DineshDinesh', 'DineshDinesh')
<class 'tuple'>

In [17]:
#let we want to access these values in seperate variables
def test(y):
    return y*3,y+y
a,b=test('dinesh')
print(a)
print(b)

dineshdineshdinesh
dineshdinesh

In [19]:
#What if both the variable are same
def test(x):
    return x*3,x+x
a,a=test('dinesh')
print(a) #It will give us latest value

dineshdinesh

In [20]:
#Return dictionary and list
def test(x):
    return [1,2,3,4,5],{'Name':'Dinesh','ID':'54101'}
a,b=test('dinesh')
print(a)
print(b)

[1, 2, 3, 4, 5]
{'Name': 'Dinesh', 'ID': '54101'}

In [21]:
#Programa to iterate through a string using function
def test(x):
    for i in x:
        print(i)
test('dinesh')

d
i
n
e
s
h

In [22]:
#passing a list 
def test(x):
    for i in x:
        print(i)
test([1,2,3,4,5])

1
2
3
4
5

In [35]:
#creating a list
def test():
    l=[]
    n=int(input("define the length of the list"))
    for i in range(n):
        l.append(int(input()))
    print(l)
test()

define the length of the list4
1
2
3
4
[1, 2, 3, 4]

In [37]:
# Arguement Function
def addition(a,b):
    return a+b
print(addition(4,5))

9

In [41]:
#we can pass arguement like this
def addition(a,b):
    return a**b
print(addition(b=2,a=5))

25

In [42]:
#Default arguement
def addition(a,b=10):
    return a+b
print(addition(5))

15

In [54]:
#map() function
def fahrenheit(T):
    return ((float(9)/5)*T+32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp=[0,22.5,40,100]
a=[]
for i in temp:
    a.append(fahrenheit(i))
print(a)
#This program can be done using map() function
def fahrenheit(T):
    return ((float(9)/5)*T+32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp1=[0,22.5,40,100]
a=list(map(fahrenheit,temp1))
print(a)
list(map(celsius,a))

[32.0, 72.5, 104.0, 212.0]
[32.0, 72.5, 104.0, 212.0]

[0.0, 22.5, 40.0, 100.0]

In [66]:
k=['Dinesh','Bafila']
k1=[]
for i in k:
    k1.append(i.upper())
print(k1)
#same program using map function
def Upper(k):
    return k.upper()
k1=['Dinesh','Bafila']
print(list(map(Upper,k1)))
#using lambda function
print(list(map(lambda a:a.upper(),k1)))
#addig two list element using map() and lambda function
a1=[1,2,3,4]
a2=[5,6,7,8]
print(list(map(lambda a,b:a+b,a1,a2)))

['DINESH', 'BAFILA']
['DINESH', 'BAFILA']
['DINESH', 'BAFILA']
[6, 8, 10, 12]

In [72]:
#reduce(fuction,sequence)
#program to add elements of list
l1=[47,11,42,13]
sum=0
for i in l1:
    sum=sum+i
print(sum)
from functools import reduce
#same program using reduce()
reduce(lambda a,b:a+b,l1)

113

113

In [75]:
#filter(function,list), gives all the values who returns true
l1=range(20)
list(filter(lambda x:x%2==0,l1))

range(0, 20)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]